*.log
*.mo
*.orig
*.pyc
*.swo
*.swp
*.tags*
*.wpr
*.wp
*project
*workspace
*~
.DS_Store*
.idea/*
.installed.cfg
.settings
*.egg-info
*.pyc
*.pth
bin
build
develop-eggs
dist
include
local
log.html
output.xml
parts
report.html
selenium-screenshot*
Thumbs.db
var
tags
buildout-cache
atlassian-*.xml
src/Products.ATExtensions
src/senaite.core.listing
src/senaite.core.supermodel
src/senaite.impress
src/senaite.lims
src/senaite.core.spotlight
src/senaite.jsonapi
/src/senaite/core/listing
/src/senaite/core/spotlight
/src/senaite/core/supermodel
/src/senaite.panic
/src/senaite.health
/src/senaite.app.listing
/src/senaite.app.spotlight
/src/senaite.app.supermodel
/eggs
.Python
pyvenv.cfg
/lib/
/webpack/.eslintrc.js
