*.log
*.mo
*.orig
*.pyc
*.swo
*.swp
*.tags*
*.wpr
*.wpu
*MANIFEST*
*project
*workspace
*~
.DS_Store*
.idea/*
.installed.cfg
.settings
bika.lims.egg-info
bin
build
develop-eggs
dist
eggs
include
lib
local
log.html
output.xml
parts
report.html
selenium-screenshot*
Thumbs.db
var
