[buildout]
index = https://pypi.org/simple/
extends = https://dist.plone.org/release/5.2-latest/versions.cfg
find-links =
    https://dist.plone.org/release/5.2-latest/
    https://dist.plone.org/thirdparty/

parts =
    instance
    test
    omelette
    i18ndude
    zopepy
    update_translations
    write_code_headers
    write_contributors
    node

eggs =
    Plone[archetypes]
    plone.app.contenttypes[atrefs]
    senaite.core
    plone.reload

extensions = mr.developer

package-name = senaite.core

versions = versions
show-picked-versions = true

plone-user = admin:admin

develop = .
sources = sources
auto-checkout = *

[sources]
# XXX Remove branches after migrated to Plone 5
Products.ATExtensions = git git@github.com:senaite/Products.ATExtensions.git pushurl=git@github.com:senaite/Products.ATExtensions.git branch=master
senaite.core.listing = git git://github.com/senaite/senaite.core.listing.git pushurl=git@github.com:senaite/senaite.core.listing.git branch=2.x
senaite.core.supermodel = git git://github.com/senaite/senaite.core.supermodel.git pushurl=git@github.com:senaite/senaite.core.supermodel.git branch=master
senaite.impress = git git://github.com/senaite/senaite.impress.git pushurl=git@github.com:senaite/senaite.impress.git branch=2.x
senaite.lims = git git://github.com/senaite/senaite.lims.git pushurl=git@github.com:senaite/senaite.lims.git branch=master

[instance]
recipe = plone.recipe.zope2instance
http-address = 127.0.0.1:8080
user = ${buildout:plone-user}
wsgi = off
eggs =
    Plone
    plone.app.upgrade
    ${buildout:package-name}
    ${buildout:eggs}
deprecation-warnings = on
environment-vars =
    zope_i18n_compile_mo_files true
zcml =

[instance:python27]
recipe = plone.recipe.zope2instance
http-address = 127.0.0.1:8080
user = ${buildout:plone-user}
wsgi = off
eggs =
    Plone[archetypes]
    plone.app.upgrade
    ${buildout:package-name}
    ${buildout:eggs}
deprecation-warnings = on
environment-vars =
    zope_i18n_compile_mo_files true
resources = ${buildout:directory}/resources
zcml =

[i18ndude]
unzip = true
recipe = zc.recipe.egg
eggs = i18ndude

[update_translations]
recipe = collective.recipe.template
output = ${buildout:directory}/bin/update_translations
input = ${buildout:directory}/templates/update_translations.in
mode = 755

[write_code_headers]
recipe = collective.recipe.template
output = ${buildout:directory}/bin/write_code_headers
input = ${buildout:directory}/templates/write_code_headers.py.in
mode = 755

[write_contributors]
recipe = collective.recipe.template
output = ${buildout:directory}/bin/write_contributors
input = ${buildout:directory}/templates/write_contributors.py.in
mode = 755

[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
    senaite.core [test]

[omelette]
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[node]
recipe = gp.recipe.node
version = 14.0.0
npms = npm yarn
scripts = npm yarn

[versions]
# FIXME: This can be removed if Plone folks add the pin to Plone official cfgs.
# https://github.com/collective/buildout.plonetest/issues/25
zc.recipe.cmmi = 1.3.6

[versions:python27]
# versions need to match the versions in requirements.txt
# https://github.com/collective/buildout.plonetest/#testing-in-travis-ci-with-multiple-versions-of-plone-and-python
setuptools = 42.0.2
zc.buildout = 2.13.3
zipp = <2.0.0
