[flake8]
# temporarily disable violations for existing code until they are cleaned up
extend-ignore =
    # E101: indentation contains mixed spaces and tabs
    E101,
    # E111: indentation is not a multiple of 4
    E111,
    # E114: indentation is not a multiple of 4 (comment)
    E114,
    # E115: expected an indented block (comment)
    E115,
    # E116: unexpected indentation (comment)
    E116,
    # E117: over-indented
    E117,
    # E122: continuation line missing indentation or outdented
    E122,
    # E124: closing bracket does not match visual indentation
    E124,
    # E125: continuation line with same indent as next logical line
    E125,
    # E127: continuation line over-indented for visual indent
    E127,
    # E128: continuation line under-indented for visual indent
    E128,
    # E129: visually indented line with same indent as next logical line
    E129,
    # E131: continuation line unaligned for hanging indent
    E131,
    # E201: whitespace after '('
    E201,
    # E202: whitespace before ')'
    E202,
    # E203: whitespace before ','
    E203,
    # E221: multiple spaces before operator
    E221,
    # E222: multiple spaces after operator
    E222,
    # E225: missing whitespace around operator
    E225,
    # E228: missing whitespace around modulo operator
    E228,
    # E231: missing whitespace after ','
    E231,
    # E251: unexpected spaces around keyword / parameter equals
    E251,
    # E261: at least two spaces before inline comment
    E261,
    # E262: inline comment should start with '# '
    E262,
    # E265: block comment should start with '# '
    E265,
    # E266: too many leading '#' for block comment
    E266,
    # E271: multiple spaces after keyword
    E271,
    # E301: expected 1 blank line, found 0
    E301,
    # E302: expected 2 blank lines, found 1
    E302,
    # E303: too many blank lines (2)
    E303,
    # E305: expected 2 blank lines after class or function definition, found 1
    E305,
    # E306: expected 1 blank line before a nested definition, found 0
    E306,
    # E501: line too long (80 > 79 characters)
    E501,
    # E502: the backslash is redundant between brackets
    E502,
    # W191: indentation contains tabs
    W191,
    # W291: trailing whitespace
    W291,
    # W293: blank line contains whitespace
    W293,
    # W391: blank line at end of file
    W391,
per-file-ignores =
    # ignore import-related issues in root packages
    src/bika/lims/__init__.py:E402,F401,F403
    src/bika/lims/config.py:F401,F403
    # ignore unused imports (F401) in meta packages
    src/bika/lims/**/__init__.py:F401
    src/bika/lims/browser/analysisrequest/analysisrequests.py:F401
    src/bika/lims/browser/dashboard/dashboard.py:F401
    src/bika/lims/browser/widgets/*widget.py:F401
    src/bika/lims/catalog/*_catalog.py:F401
    src/senaite/core/**/__init__.py:F401
    # ignore "import *" (F401, F403) in meta packages
    src/bika/lims/browser/viewlets/__init__.py:F401,F403
    src/senaite/core/interfaces/__init__.py:F401,F403
    # ignore "import *" (F403, F405) in Archetypes models
    src/bika/lims/content/*.py:F403,F405
    # Zope scripts are only function bodies (see https://zope.readthedocs.io/en/latest/zopebook/BasicScripting.html)
    src/bika/lims/skins/bika/guard_handler.py:F401,F706
    src/senaite/core/skins/senaite_scripts/*.py:F706,F821
