include LICENSE
include *.rst
include *.md
recursive-exclude docs *
recursive-include src/bika *
recursive-include src/senaite *
recursive-exclude src/senaite/app/listing *
recursive-exclude src/senaite/app/spotlight *
recursive-exclude src/senaite/app/supermodel *
recursive-exclude src *.pyc
recursive-exclude webpack *
