.barcode-container {
    width:100%;
}
.barcode {
    float: right;
}
div.worksheet {
    font-size:0.8em;
}
div.worksheet a {
    color:#000;
    text-decoration:none;
}
div.worksheet h1 {
    padding-top:15px;
    font-size:1.7em;
}
div.subheader {
    padding: 10px 0;
}
div.content {
    padding:20px 0;
    font-size:0.85em;
    border-top:1px solid #333;
}
div.arinfo {
    font-size:0.9em;
    padding: 0 10px;
    font-weight:normal;
}
div.content table {
}
div.content table tbody th {
    padding:0 5px 0 0;
    text-align:left;
}
div.content table tbody td {
    padding:4px;
    border:1px solid #cdcdcd;
}
div.content table tbody td.requestid {
    font-weight:bold;
}
div.content table tbody td.result {
    width:90px;
}
div.content table tbody td.no-result {
    background-color: #cdcdcd;
}
div.content table tbody th.analyses {
    padding:20px 0 10px 0;
    font-size:1.2em;
}
div.content table td.requestid {
    border:none;
}
div.content table div.barcode {
    float:none;
}

@media print {
    div.content table div.barcode {
        margin: 0 0 0 -10px;
    }
}