/* Listing Styles */

/* Colors taken from https://mdbootstrap.com/css/colors/ */
.ajax-contents-table tr { border-left:2px solid transparent; }

/* state sample_due */
.ajax-contents-table tr.state-sample_due { border-left:2px solid #ffff8d !important; }
/* .ajax-contents-table tr.state-sample_due td { background-color: rgba(255, 235, 59, 0.1); } */

/* state sample_received */
.ajax-contents-table tr.state-sample_received { border-left:2px solid #a1887f !important; }
/* .ajax-contents-table tr.state-sample_received td { background-color: rgba(121, 85, 72, 0.1); } */

/* state retracted */
.ajax-contents-table tr.state-retracted { border-left:2px solid #ff6f00 !important; }
/* .ajax-contents-table tr.state-retracted td { background-color: rgba(255, 152, 0, 0.1); font-style: italic; } */

/* state to_be_verified */
.ajax-contents-table tr.state-to_be_verified { border-left:2px solid #18ffff !important; }
/* .ajax-contents-table tr.state-to_be_verified td { background-color: rgba(0, 188, 212, 0.1); } */

/* state verified */
.ajax-contents-table tr.state-verified { border-left:2px solid #0091ea !important; }
/* .ajax-contents-table tr.state-verified td { background-color: rgba(3, 169, 244, 0.2); } */

/* state published */
.ajax-contents-table tr.state-published { border-left:2px solid #00c853 !important; }
/* .ajax-contents-table tr.state-published td { background-color: rgba(76, 175, 80, 0.2); } */

/* state invalid */
.ajax-contents-table tr.state-invalid { border-left:2px solid #e65100 !important; }
/* .ajax-contents-table tr.state-invalid td { background-color: rgba(244, 67, 54, 0.2); } */

/* misc. states*/
.ajax-contents-table tr.state-active { border-left:2px solid transparent; }
.ajax-contents-table tr.state-inactive { border-left:2px solid #616161; }
.ajax-contents-table tr.state-unassigned { border-left:2px solid #4a148c; }
.ajax-contents-table tr.state-open { border-left:2px solid #ab47bc !important; }
.ajax-contents-table tr.state-attachment_due { border-left:2px solid #ffc107 !important; }
.ajax-contents-table tr.state-empty-worksheet { border-left:2px solid #f8bbd0 !important; }
.ajax-contents-table tr.state-cancelled { border-left:2px solid #000000 !important; }


.ajax-contents-table th.sortable { cursor: pointer; }
.ajax-contents-table th.sortable:hover { background-color: #ccc; }
.ajax-contents-table th:not(.sortable) { cursor: not-allowed; }

.ajax-contents-table th.active.ascending span:after { content: "▲"; margin-left: 0.5em; }
.ajax-contents-table th.active.descending span:after { content: "▼"; margin-left: 0.5em; }

.ajax-contents-table tr.category { cursor: pointer; font-weight: bold; font-size: 115%; color: #3E4551; background-color: #fcf8e3; }

#table-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background: #ccc;
  opacity: 0.3;
}

/* progress bar */
.ajax-contents-table tr td div.progress { width: 55px; margin-bottom: 0; height: 17px; }
.ajax-contents-table tr td div.progress div.progress-bar { color: #f5f5f5; background-color: #33b5e5; line-height: 17px; font-size: 9px; font-weight:bold; }

/* collapsible rows */
.ajax-contents-table tr.togglerow { cursor: pointer; }
.ajax-contents-table tr.childrow td:first-child { padding-left: 1em; }
.ajax-contents-table tr.childrow td:first-child:before { content: "➥ "; }

/* before item */
.ajax-contents-table tr span.before-item { padding-right: 3px; }
.ajax-contents-table tr span.before-item img { padding-right: 2px; }

/* after item */
.ajax-contents-table tr span.after-item { padding-left: 3px; }
.ajax-contents-table tr span.after-item img { padding-left: 2px; }

/* Top toolbar */
.ajax-contents-table .top-toolbar { padding-bottom: .5em; }

