.sticker {
    font-family: Helvetica, Arial;
    font-size:7pt;
    /* Total width: 1.5mm + 38mm + 1.5mm + 1.5mm + 38mm + 1.5mm = 82mm */
    width: 82mm;
    min-width:82mm;
    max-width:82mm;
    /* Total height: 1.5mm + 18mm + 1.5mm = 21mm */
    height:21mm;
    min-height:21mm;
    max-height:21mm;

    overflow:hidden;
    border-bottom:none;
    background-color:blue;
}
.sticker table.stickers-row {
    width:100%;
    border-collapse: separate;
    background-color:#f5f5f5;
}
.sticker table.stickers-row td.sticker-vertical-separator {
    height:1.5mm;
    min-height:1.5mm;
    max-height:1.5mm;
    background-color:#dcdcdc;
}
.sticker table.stickers-row td.sticker-horizontal-separator {
    width:1.5mm;
    min-width:1.5mm;
    max-width:1.5mm;
    background-color:#dcdcdc;
}
.sticker table.stickers-row td.sticker-cell {
    background-color:#fff;
    width:38mm;
    height:18mm;
    max-width:38mm;
    max-height:18mm;
}
.sticker .analysisrequest-info table td.sample-type {
    width:100%;
}
.sticker .analysisrequest-info table,
.sticker .sampling-date-info table {
    border-collapse:collapse;
    width:100%;
}
.sticker .analysisrequest-info table td,
.sticker .sampling-date-info table td {
    border:none;
    padding-left:2mm;
}

.barcode {
    margin:0 auto;
}
.client-sample-id {
    text-align:center;
}
