.sticker {
    font-family: Helvetica, Arial;
    font-size:7pt;
    /* Total width: 46mm + 2x1mm = 48mm */
    padding:1mm; width: 46mm;
}
.sticker .sample-id {
    height: 5mm;
    text-align:center;
}
.sticker .analysisrequest-info table,
.sticker .sampling-date-info table {
    border-collapse:collapse;
    margin: 1px 1px 1px 1px;
    width:100%;
}
.sticker .analysisrequest-info table td,
.sticker .sampling-date-info table td {
    border:none;
}
.barcode {
    margin:0 auto;
}
.client-sample-id {
    text-align:center;
}
