/*
Sticker Dimensions: 2 inch x 1 inch = 50.8mm x 25.4mm
Sticker margins: 2mm
*/
.sticker {
    margin:0 auto;
    padding:2mm;
    width: 46.8mm;
    height: 21.4mm;
    font-family: Helvetica, Arial;
    font-size:7pt;
}
.sticker .barcode {
    margin: 0 auto;
    padding: 0 !important;
    text-align:center;
}
.sticker .sample-id {
    margin:0;
    padding: 0mm 0mm 1mm 0mm;
    text-align:center;
}
.sticker .analysisrequest-info table,
.sticker .sampling-date-info table {
    border-collapse:collapse;
    margin: 1px 1px 1px 1px;
    width:100%;
}
.sticker .analysisrequest-info table td,
.sticker .sampling-date-info table td {
    border:none;
    text-align:center;
}
.barcode {
    margin:0 auto;
}
.client-sample-id {
    text-align:center;
}

@media print {
    @page {
        size:  50.8mm 25.4mm !important;
        margin: 0mm !important;
    }
    html, body {
        width: 50.8mm !important;
        height: 25.4mm !important;
        margin: 0mm !important;
    }
}
