/* CSS Styles for the SENAITE Sidebar */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: $sidebar-maximized-width;
    max-width: $sidebar-maximized-width;
    transition: all 0.3s;
    overflow: hidden;
    white-space: nowrap;
}

#sidebar #sidebar-header {
    text-align: right;
}

/* Sidebar minimized  */
#sidebar.minimized {
    min-width: $sidebar-minimized-width;
    max-width: $sidebar-minimized-width;
}
#sidebar.minimized .sidebar-toggle-icon {
    @extend .fa;
    @extend .fa-chevron-circle-right;
}
#sidebar.minimized ul li a {
    padding: 15px 0px;
    text-align: center;
}
#sidebar.minimized ul ul a {
    padding: 10px 17px !important;
}
#sidebar.minimized ul li a i {
    margin-right: 0;
    margin-bottom: 5px;
}
#sidebar.minimized ul li a span.node-title,
#sidebar.minimized ul li a span.child-title {
    display: none;
}
#sidebar ul li.active>a {
    color: $sidebar-selected-color;
}
#sidebar ul li.active,
#sidebar ul li.expanded {
    background: $link-color;
    &:hover {
        background: $link-hover-color;
    }
    ul.submenu {
        background-color: $sidebar-selected-bg;
    }
}
#sidebar.minimized ul.submenu li {
    opacity: 0.4;
    padding: 0;
    width: $sidebar-minimized-width;
    &.active {
        background: $link-color;
    }
    &:hover {
        background: $link-hover-color;
    }
}

/* Sidebar maximized */
#sidebar.minimized #sidebar-header {
    text-align: center;
}
#sidebar .sidebar-toggle-icon {
    @extend .fa;
    @extend .fa-chevron-circle-left;
}
#sidebar a {
    color: $sidebar-color;
}
#sidebar a:hover {
    color: $sidebar-hover-color;
}
#sidebar ul li a {
    padding: 15px 10px;
    display: block;
}

/* submenu */
#sidebar ul.submenu {
    max-width: $sidebar-maximized-width;
}
#sidebar ul.submenu li {
    padding-left: 0.5em;
    width: $sidebar-maximized-width;
}

/* Media Queries */
@media (max-width: 768px) {
    #sidebar-header {
        display: none;
    }
}
