/* SENAITE toolbar styles */

#senaite-toolbar .tb-state {
    &:before {
        @extend .fa;
        @extend .fa-at;
        padding-right: 2px;
    }

    &.state-active,
    &.state-open { color: $blue; }
    &.state-inactive,
    &.state-invalid,
    &.state-closed,
    &.state-cancelled { color: $red; }
}
