/* CSS Styles for the SENAITE Setup View*/
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.tile {
    width: 100%;
    height: 6em;
    box-sizing: border-box;
    display: inline-block;
    background: #d9edf7;
    padding: 2em;
    margin: auto auto 1em auto;
    overflow: hidden;
}
.tile .title {
    text-transform: uppercase;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
}
.tile:hover {
    background: #d9edff;
    text-decoration: none;
}
.tile.setup {
    background: #ddd;
}
.tile.setup:hover {
    background: #aaa;
}
