.pointofcapture { border-top:0;}
table.analysisrequest { border;left:none; border-top:0}
table.analysisrequest th { border-top:0}
table.analysisrequest tr { border-left:0}
table.analysisrequest td { border-left:0;border-right:0;}

.initial{
	cursor:pointer;
	margin:0;
	padding:2px 5px 2px 5px;
}

label {
	font-weight:normal;
}

.collapsed,
.initial{
    background: #DDDDDD url(treeCollapsed.png) no-repeat 6px 50% !important;
    cursor:pointer !important;
	padding-left:20px !important;
    font-weight:bold !important;
	border:1px solid #CCCCCC;
}

.expanded{
    background: #DDDDDD url(treeExpanded.png) no-repeat 6px 50% !important;
    cursor:pointer !important;
	padding-left:20px !important;
    font-weight:bold !important;
	border:1px solid #CCCCCC;
}
