#specwidget .analysisservices {
	margin: 0 0 0 1em;
	padding: 0;
}
#specwidget table {
	margin:0;
	padding:0;
}
#specwidget table thead th{
	cursor:pointer;
	margin:0;
	padding:2px 5px 2px 5px;
}
#specwidget table tbody td{
	margin:0;
	padding:2px 5px 2px 5px;
}
#specwidget label {
	font-weight:normal;
}

#specwidget table thead .collapsed .title,
#specwidget table thead .initial .title{
    background: #DDDDDD url(treeCollapsed.png) no-repeat 6px 50%;
    cursor:pointer;
	padding-left:20px;
    font-weight:bold;
	border:1px solid #CCCCCC;
}

#specwidget table thead .expanded .title{
    background: #DDDDDD url(treeExpanded.png) no-repeat 6px 50%;
    cursor:pointer;
	padding-left:20px;
    font-weight:bold;
	border:1px solid #CCCCCC;
}
