#sidebar {
    min-width: 200px;
    max-width: 200px;
    transition: all 0.3s;
    overflow: hidden;
    white-space: nowrap;
}

#sidebar #sidebar-header {
    text-align: right;
}
#sidebar.active #sidebar-header {
    text-align: center;
}
#sidebar .sidebar-toggle-icon {
    @extend .fa;
    @extend .fa-chevron-circle-left;
}
#sidebar.active .sidebar-toggle-icon {
    @extend .fa;
    @extend .fa-chevron-circle-right;
}

#sidebar a {
    color: $navbar-light-color;
}

#sidebar.active {
    min-width: 50px;
    max-width: 50px;
}

#sidebar ul li a {
}

#sidebar.active ul li a {
    padding: 15px 0px;
    text-align: center;
}
#sidebar.active ul li a span.node-title {
    display: none;
}

#sidebar.active ul li a i {
    margin-right: 0;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px 15px !important;
}

#sidebar ul li a {
    padding: 15px 10px;
    display: block;
}

#sidebar ul li a:hover {
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
}
#sidebar ul li.active {
    background: $gray-400;
}

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        margin-left: -80px !important;
    }
    #sidebarCollapse {
        display: none;
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
}
