/** Navigation Sidebar
*/
$sidebar-minimized-width: 50px;
$sidebar-maximized-width: 200px;

#sidebar {
    min-width: $sidebar-maximized-width;
    max-width: $sidebar-maximized-width;
    transition: all 0.3s;
    overflow: hidden;
    white-space: nowrap;
}

#sidebar #sidebar-header {
    text-align: right;
}

/* Sidebar minimized (active class) */
#sidebar.active {
    min-width: $sidebar-minimized-width;
    max-width: $sidebar-minimized-width;
}
#sidebar.active .sidebar-toggle-icon {
    @extend .fa;
    @extend .fa-chevron-circle-right;
}
#sidebar.active ul li a {
    padding: 15px 0px;
    text-align: center;
}
#sidebar.active ul ul a {
    padding: 10px 15px !important;
}
#sidebar.active ul li a i {
    margin-right: 0;
    margin-bottom: 5px;
}
#sidebar.active ul li a span.node-title,
#sidebar.active ul li a span.child-title {
    display: none;
}
#sidebar ul li.active {
    bacground-color: $navbar-light-active-color;
}
#sidebar ul li.active>a {
    color: $navbar-light-active-color;
}
#sidebar ul li.active {
    background: $gray-400;
}
#sidebar.active ul.submenu li {
    opacity: 0.4;
    padding: 0;
}

/* Sidebar maximized */
#sidebar.active #sidebar-header {
    text-align: center;
}
#sidebar .sidebar-toggle-icon {
    @extend .fa;
    @extend .fa-chevron-circle-left;
}
#sidebar a {
    color: $navbar-light-color;
}
#sidebar a:hover {
    color: $navbar-light-hover-color;
}
#sidebar ul li a {
    padding: 15px 10px;
    display: block;
}

/* submenu */
#sidebar ul.submenu {
    max-width: $sidebar-maximized-width;
}
#sidebar ul.submenu li {
    padding-left: 0.5em;
}

/* Media Queries */
@media (max-width: 768px) {
    #sidebar-header {
        display: none;
    }
}
