/* 40x20mm sticker */
.sticker {
    font-family: Helvetica, Arial;
    font-size:7pt;
    /*
    Total width:  38mm + 2x1mm (padding) = 40mm
    Total height: 18mm + 2x1mm (padding) = 20mm
    */
    padding: 1mm;
    width: 38mm; min-width:38mm; max-width:38mm;
    height: 20mm; min-height:20mm; max-height:20mm;
    margin: auto;
    vertical-align: middle;
}
.sticker .worksheet-info {
    text-align: center;
    padding-top: 2mm;
}
.barcode {
    margin:0 auto;
}
